.loader {
  width: 32px;
  height: 32px;
  --c:radial-gradient(farthest-side,currentColor 90%,#0000);
  background:
    var(--c) 0    0,
    var(--c) 100% 0,
    var(--c) 100% 100%,
    var(--c) 0    100%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: loader .5s infinite; 
}

@keyframes loader {
  100% {background-position: 100% 0,100% 100%,0 100%,0 0}
}

.loader-text {
  animation: loader-text 1s linear infinite alternate;
}
@keyframes loader-text {to{opacity: 0}}